 @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: black;
    align-items: center;
    height: 8vh;
    color: white;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    margin-right: 100px;
}
.nav-items ul li{
    margin: 0 7px 0 7px;
}
.nav-items ul li:hover{
    color: #4deeea;
    position: relative;
    right: 1.5px;
    top: 1.5px;
    cursor: pointer;
    transition: 0.5s left,top ease-in, 0.2s color ease-in;
}
.logo{
    margin-left: 100px;
    display: flex;
    cursor: default;
}
.logo h2{
    font-weight: 600;
    font-size: large;
    margin-top: 20px;
    margin-left: 10px;
}
.logo img{
    width: 2rem;
    margin-top: 15px;
}
.heading{
    color: white;
    position:relative;
    top: 55px;
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size:45px;
    font-weight: 750;
}
.heading p{
    font-size: small;
    font-weight: 200;
    margin-top: 20px;
}
.hero{
    background-color: #03080d;
    height: 300vh;
    background-image: url(images/giphy.gif);
    background-size: initial;
}
.info-card{
    color: white;
    margin: 0 80px 80px 80px;
    padding: 40px 30px 40px 30px;
    border-radius: 15px;
    background: linear-gradient(147.5deg,black,#5A5A5A);
    transition: 0.3s all ease-in-out;
}
.info-card p{
    display: none;
}

.info-card:hover p{
    display: block;
}

.info-card:hover{
    border:2px solid #4deeea;
    transform: translate(-30px, -30px);
    background: linear-gradient(32.5deg,#5A5A5A,black);
    transition: 0.3s all ease-in-out;
}
.info-card h2{
text-align: center;
font-size: 40px;
}
.info-card p{
    margin: 10px 0 10px 0;
}
.project-cards{
    margin-top: 100px;
}
.card{
    background-color: #111416;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 45vh;
    border-radius: 8px;
    margin-right: 40px;
    margin-top: 20px;
}
.card:hover{
    border:1px solid #4deeea;
}
.card-text{
    color: white;
    margin-top: 20px;
    text-align: center;
}
.card-img{
    width: 200px;
    margin-top: 20px;
}
.achievement-cards{
    padding: 0 80px 0 80px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: #131a21;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.robocon-logo img{
    width: 15rem;
}
.footer-content{
    color: white;
    text-align: center;
    cursor: default;
}
.srm-logo img{
    width: 15rem;
}

.footer-content i{
    margin:20px 30px 20px 0; 
    cursor: pointer;
}
.footer-2{
    background-color: #131a21;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    height: 8vh;
    border-top: 0.5px solid #808080;
    cursor: default;
}